<?xml version="1.0" encoding="UTF-8" ?>
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vs.meta.common.mapper.FileMapper">
	<insert id="insertUploadFile" parameterType="com.vs.meta.common.vo.FileVO">
        INSERT INTO file (
            file_name
            , save_file_name
            , file_path
            , file_extension
            , file_size
            , rgtr
            , request_source
            , checksum
            , prsinfo_yn
        ) VALUES (
            #{fileName}
            , #{saveFileName}
            , #{filePath}
            , #{fileExtension}
            , #{fileSize}
            , #{rgtr}
            , #{requestSource}
            , #{checksum}
            , #{prsInfoYn}
        )
    </insert>

    <select id="selectFileDgnssFileList" parameterType="map" resultType="map">
        /* File.selectFileDgnssFileList */
        SELECT a1.`id` AS fileIdx
            , a1.file_name AS fileName
            , a1.save_file_name AS saveFileName
            , a1.file_path AS filePath
            , a1.file_extension AS fileExtension
            , a1.file_size AS fileSize
            , a1.rgtr
            , a1.reg_dt AS regDt
            , a1.request_source AS requestSource
            , a1.checksum AS checksum
            , a1.del_yn AS delYn
            , a1.prsinfo_yn AS prsInfoYn
            , tdri.stdt_id AS userId
            , COALESCE(gm_st.nickname, tdri.stdt_id) AS userNm
            , tdri.file_url AS fileUrl
            , tdi.paper_idx AS paperIdx
            , tdi.ord_no AS ordNo
            <choose>
                <when test='rgtr != null and rgtr != ""'>
                    , CASE
                    WHEN a1.rgtr = #{rgtr}
                      OR (
                        /* 요청자가 해당 검사 클래스의 교사이고, 생성자가 해당 클래스의 교사/학생인 경우 */
                        EXISTS (
                            SELECT 1
                            FROM group_info gi_req_tc
                                     INNER JOIN user u_req_tc ON gi_req_tc.host_user_no = u_req_tc.user_no
                            WHERE gi_req_tc.cla_id = tdi.cla_id
                              AND u_req_tc.tc_id = #{rgtr}
                        )
                        AND (
                            EXISTS (
                                SELECT 1
                                FROM group_info gi_creator_tc
                                         INNER JOIN user u_creator_tc ON gi_creator_tc.host_user_no = u_creator_tc.user_no
                                WHERE gi_creator_tc.cla_id = tdi.cla_id
                                  AND u_creator_tc.tc_id = a1.rgtr
                            )
                            OR EXISTS (
                                SELECT 1
                                FROM group_info gi_creator_st
                                         INNER JOIN group_member gm_creator_st ON gi_creator_st.group_id = gm_creator_st.group_id
                                WHERE gi_creator_st.cla_id = tdi.cla_id
                                  AND gm_creator_st.stdt_id = a1.rgtr
                            )
                        )
                    )
                      OR (
                        /* 요청자가 해당 검사 클래스의 학생이고 생성자가 해당 클래스 교사인 경우 */
                        EXISTS (
                            SELECT 1
                            FROM group_info gi_req_st
                                     INNER JOIN group_member gm_req_st ON gi_req_st.group_id = gm_req_st.group_id
                            WHERE gi_req_st.cla_id = tdi.cla_id
                              AND gm_req_st.stdt_id = #{rgtr}
                        )
                        AND EXISTS (
                            SELECT 1
                            FROM group_info gi_creator_tc2
                                     INNER JOIN user u_creator_tc2 ON gi_creator_tc2.host_user_no = u_creator_tc2.user_no
                            WHERE gi_creator_tc2.cla_id = tdi.cla_id
                              AND u_creator_tc2.tc_id = a1.rgtr
                        )
                    )
                    THEN 'Y'
                    ELSE 'N'
                    END downloadAuthYn
                </when>
                <otherwise>
                    , 'Y' AS downloadAuthYn
                </otherwise>
            </choose>
        FROM file a1
             INNER JOIN tb_dgnss_result_info tdri ON a1.file_name = SUBSTRING_INDEX(tdri.file_url, '/', -1)
                    AND a1.file_path = CONCAT(SUBSTRING_INDEX(tdri.file_url, '/', LENGTH(tdri.file_url) - LENGTH(REPLACE(tdri.file_url, '/', ''))), '/')
                    AND tdri.file_url IS NOT NULL
                    AND tdri.file_url != ''
            INNER JOIN tb_dgnss_info tdi ON tdri.dgnss_id = tdi.id
            LEFT JOIN group_info gi ON tdi.cla_id = gi.cla_id
            LEFT JOIN group_member gm_st ON gi.group_id = gm_st.group_id
                                      AND gm_st.stdt_id = tdri.stdt_id
        WHERE tdi.id = #{dgnssId}
          AND a1.file_extension = 'pdf'
    </select>

    <insert id="insertDownloadLog" parameterType="com.vs.meta.common.vo.FileLogVO">
        INSERT INTO file_download_log (
            file_idx
            , file_name
            , user_id
            , access_ip
            , request_source
        ) VALUES (
            #{fileIdx}
            , #{fileName}
            , #{userId}
            , #{accessIp}
            , #{requestSource}
        );
    </insert>

    <select id="selectFileInfoList" resultType="com.vs.meta.common.vo.FileVO">
        SELECT af.id AS fileIdx
             , CONCAT(af.file_path, af.save_file_name) AS filePath
        FROM file af
        WHERE af.prsinfo_yn = 'Y'
          AND af.del_yn = 'N'
    </select>

    <update id="updateFileInfoList" parameterType="list">
        UPDATE file
        SET del_yn = CASE id
            <foreach collection="fileVOList" item="item">
                WHEN #{item.fileIdx} THEN #{item.delYn}
            </foreach>
            END,
            del_dt = CASE id
            <foreach collection="fileVOList" item="item">
                WHEN #{item.fileIdx} THEN #{item.delDt}
            </foreach>
            END
        WHERE id IN
        <foreach collection="fileVOList" item="item" open="(" separator="," close=")">
            #{item.fileIdx}
        </foreach>
    </update>

    <select id="selectTcDgnssInfoWithId" parameterType="map" resultType="map">
		/* FileMapper.selectTcDgnssInfoWithId */
		SELECT tdi.cla_id AS claId
            , tdi.paper_idx AS paperIdx
            , tdi.ord_no AS ordNo
            , tdi.tc_id AS tcId
            , gi.group_nm AS claNm
            , u.ptn_id AS ptnId
        FROM tb_dgnss_info tdi
        LEFT JOIN group_info gi ON tdi.cla_id = gi.cla_id
        LEFT JOIN USER u ON tdi.tc_id = u.user_id
        WHERE tdi.id = #{dgnssId}
    </select>

    <select id="selectFileDgnssSummaryList" parameterType="map" resultType="map">
        /* File.selectFileDgnssSummaryList */
        SELECT a1.`id` as fileIdx
             , a1.file_name as fileName
             , a1.save_file_name as saveFileName
             , a1.file_path as filePath
             , a1.file_extension as fileExtension
             , a1.file_size as fileSize
             , a1.rgtr
             , a1.reg_dt as regDt
             , a1.request_source as requestSource
             , a1.checksum as checksum
             , a1.del_yn as delYn
             , a1.prsinfo_yn as prsInfoYn
             , tdri.stdt_id AS userId
             , COALESCE(gm_st.nickname, tdri.stdt_id) AS userNm
             , tdri.summary_file_url AS fileUrl
             , tdi.paper_idx AS paperIdx
             , tdi.ord_no AS ordNo
                <choose>
                    <when test='rgtr != null and rgtr != ""'>
                        , case
                        when a1.rgtr = #{rgtr}
                          or (
                            /* 요청자가 해당 검사 클래스의 교사이고, 생성자가 해당 클래스의 교사/학생인 경우 */
                            exists (
                                select 1
                                from group_info gi_req_tc
                                         inner join user u_req_tc on gi_req_tc.host_user_no = u_req_tc.user_no
                                where gi_req_tc.cla_id = tdi.cla_id
                                  and u_req_tc.tc_id = #{rgtr}
                            )
                            and (
                                exists (
                                    select 1
                                    from group_info gi_creator_tc
                                             inner join user u_creator_tc on gi_creator_tc.host_user_no = u_creator_tc.user_no
                                    where gi_creator_tc.cla_id = tdi.cla_id
                                      and u_creator_tc.tc_id = a1.rgtr
                                )
                                or exists (
                                    select 1
                                    from group_info gi_creator_st
                                             inner join group_member gm_creator_st on gi_creator_st.group_id = gm_creator_st.group_id
                                    where gi_creator_st.cla_id = tdi.cla_id
                                      and gm_creator_st.stdt_id = a1.rgtr
                                )
                            )
                        )
                          or (
                            /* 요청자가 해당 검사 클래스의 학생이고 생성자가 해당 클래스 교사인 경우 */
                            exists (
                                select 1
                                from group_info gi_req_st
                                         inner join group_member gm_req_st on gi_req_st.group_id = gm_req_st.group_id
                                where gi_req_st.cla_id = tdi.cla_id
                                  and gm_req_st.stdt_id = #{rgtr}
                            )
                            and exists (
                                select 1
                                from group_info gi_creator_tc2
                                         inner join user u_creator_tc2 on gi_creator_tc2.host_user_no = u_creator_tc2.user_no
                                where gi_creator_tc2.cla_id = tdi.cla_id
                                  and u_creator_tc2.tc_id = a1.rgtr
                            )
                        )
                        then 'Y'
                        else 'N'
                        end downloadAuthYn
                    </when>
                    <otherwise>
                        , 'Y' as downloadAuthYn
                    </otherwise>
                </choose>
        FROM file a1
             INNER JOIN tb_dgnss_result_info tdri ON a1.file_name = SUBSTRING_INDEX(tdri.summary_file_url, '/', -1)
                    AND a1.file_path = CONCAT(SUBSTRING_INDEX(tdri.summary_file_url, '/', LENGTH(tdri.summary_file_url) - LENGTH(REPLACE(tdri.summary_file_url, '/', ''))), '/')
                    AND tdri.summary_file_url IS NOT NULL
                    AND tdri.summary_file_url != ''
            INNER JOIN tb_dgnss_info tdi ON tdri.dgnss_id = tdi.id
            LEFT JOIN group_info gi ON tdi.cla_id = gi.cla_id
            LEFT JOIN group_member gm_st ON gi.group_id = gm_st.group_id
                                      AND gm_st.stdt_id = tdri.stdt_id
        WHERE tdi.id = #{dgnssId}
          AND a1.file_extension = 'pdf'
    </select>

    <!-- pfile-download 관련 쿼리 -->
    <select id="selectFileInfo" parameterType="com.vs.meta.common.vo.FileVO" resultType="com.vs.meta.common.vo.FileVO">
        /* FileMapper.selectFileInfo */
        SELECT
            a1.`id` AS fileIdx
            , a1.file_name AS fileName
            , a1.save_file_name AS saveFileName
            , a1.file_path AS filePath
            , a1.file_extension AS fileExtension
            , a1.file_size AS fileSize
            , a1.rgtr
            , a1.reg_dt AS regDt
            , a1.request_source AS requestSource
            , a1.checksum AS checksum
            , a1.del_yn AS delYn
            , a1.prsinfo_yn AS prsInfoYn
        <choose>
            <when test='rgtr != null and rgtr != ""'>
                , CASE
                    WHEN a1.rgtr = #{rgtr}
                      OR (
                        /* 요청 교사와 생성자(교사/학생)가 같은 group_id에 속하는 경우만 허용 */
                        EXISTS (
                            SELECT 1
                            FROM group_info gi_req_tc
                                     INNER JOIN user u_req_tc ON gi_req_tc.host_user_no = u_req_tc.user_no
                                     INNER JOIN group_info gi_creator ON gi_req_tc.group_id = gi_creator.group_id
                            WHERE u_req_tc.tc_id = #{rgtr}
                              AND (
                                EXISTS (
                                    SELECT 1
                                    FROM user u_creator_tc
                                    WHERE u_creator_tc.user_no = gi_creator.host_user_no
                                      AND u_creator_tc.tc_id = a1.rgtr
                                )
                                OR EXISTS (
                                    SELECT 1
                                    FROM group_member gm_creator_st
                                    WHERE gm_creator_st.group_id = gi_creator.group_id
                                      AND gm_creator_st.stdt_id = a1.rgtr
                                )
                              )
                        )
                    )
                      OR (
                        EXISTS (
                            SELECT 1
                            FROM group_member gm_req_st
                            WHERE gm_req_st.stdt_id = #{rgtr}
                        )
                        AND EXISTS (
                            SELECT 1
                            FROM group_info gi_creator_tc2
                                     INNER JOIN user u_creator_tc2 ON gi_creator_tc2.host_user_no = u_creator_tc2.user_no
                            WHERE u_creator_tc2.tc_id = a1.rgtr
                        )
                    )
                    THEN 'Y'
                    ELSE 'N'
                  END downloadAuthYn
            </when>
            <otherwise>
                , 'Y' AS downloadAuthYn
            </otherwise>
        </choose>
        FROM file a1
        WHERE 1=1
        <choose>
            <when test="fileIdx != null and fileIdx > 0">
                AND id = #{fileIdx}
            </when>
            <otherwise>
                AND file_path = #{filePath}
                AND file_name = #{fileName}
                ORDER BY `id` DESC
                LIMIT 1
            </otherwise>
        </choose>
    </select>

    <select id="selectFileInfoWithPionada" parameterType="com.vs.meta.common.vo.FileVO" resultType="com.vs.meta.common.vo.FileVO">
        /* FileMapper.selectFileInfoWithPionada */
        SELECT
            a1.`id` AS fileIdx
            , a1.file_name AS fileName
            , a1.save_file_name AS saveFileName
            , a1.file_path AS filePath
            , a1.file_extension AS fileExtension
            , a1.file_size AS fileSize
            , a1.rgtr
            , a1.reg_dt AS regDt
            , a1.request_source AS requestSource
            , a1.checksum AS checksum
            , a1.del_yn AS delYn
            , a1.prsinfo_yn AS prsInfoYn
        FROM file a1
        WHERE 1=1
        <choose>
            <when test="fileIdx != null and fileIdx > 0">
                AND id = #{fileIdx}
            </when>
            <otherwise>
                AND file_path = #{filePath}
                AND file_name = #{fileName}
                ORDER BY `id` DESC
                LIMIT 1
            </otherwise>
        </choose>
    </select>

    <select id="selectFileInfoWithPartnerActivity" parameterType="com.vs.meta.common.vo.FileVO" resultType="com.vs.meta.common.vo.FileVO">
        /* FileMapper.selectFileInfoWithPartnerActivity */
        SELECT
            a1.`id` AS fileIdx
            , a1.file_name AS fileName
            , a1.save_file_name AS saveFileName
            , a1.file_path AS filePath
            , a1.file_extension AS fileExtension
            , a1.file_size AS fileSize
            , a1.rgtr
            , a1.reg_dt AS regDt
            , a1.request_source AS requestSource
            , a1.checksum AS checksum
            , a1.del_yn AS delYn
            , a1.prsinfo_yn AS prsInfoYn
        <choose>
            <when test='rgtr != null and rgtr != ""'>
                , CASE
                    WHEN a1.rgtr = #{rgtr}
                      OR (
                        /* 요청 교사와 생성자(교사/학생)가 같은 group_id에 속하는 경우만 허용 */
                        EXISTS (
                            SELECT 1
                            FROM group_info gi_req_tc
                                     INNER JOIN user u_req_tc ON gi_req_tc.host_user_no = u_req_tc.user_no
                                     INNER JOIN group_info gi_creator ON gi_req_tc.group_id = gi_creator.group_id
                            WHERE u_req_tc.tc_id = #{rgtr}
                              AND (
                                EXISTS (
                                    SELECT 1
                                    FROM user u_creator_tc
                                    WHERE u_creator_tc.user_no = gi_creator.host_user_no
                                      AND u_creator_tc.tc_id = a1.rgtr
                                )
                                OR EXISTS (
                                    SELECT 1
                                    FROM group_member gm_creator_st
                                    WHERE gm_creator_st.group_id = gi_creator.group_id
                                      AND gm_creator_st.stdt_id = a1.rgtr
                                )
                              )
                        )
                    )
                      OR (
                        EXISTS (
                            SELECT 1
                            FROM group_member gm_req_st
                            WHERE gm_req_st.stdt_id = #{rgtr}
                        )
                        AND EXISTS (
                            SELECT 1
                            FROM group_info gi_creator_tc2
                                     INNER JOIN user u_creator_tc2 ON gi_creator_tc2.host_user_no = u_creator_tc2.user_no
                            WHERE u_creator_tc2.tc_id = a1.rgtr
                        )
                    )
                    THEN 'Y'
                    ELSE 'N'
                  END downloadAuthYn
            </when>
            <otherwise>
                , 'Y' AS downloadAuthYn
            </otherwise>
        </choose>
        FROM file a1
        WHERE 1=1
        <choose>
            <when test="fileIdx != null and fileIdx > 0">
                AND id = #{fileIdx}
            </when>
            <otherwise>
                AND file_path = #{filePath}
                AND file_name = #{fileName}
                ORDER BY `id` DESC
                LIMIT 1
            </otherwise>
        </choose>
    </select>

    <select id="selectTcListFromCreator" parameterType="map" resultType="string">
        /* FileMapper.selectTcListFromCreator */
        SELECT u.tc_id
        FROM group_info gi
                 INNER JOIN user u ON gi.host_user_no = u.user_no
                 INNER JOIN group_member gm ON gi.group_id = gm.group_id
        WHERE gm.stdt_id = #{creator}
    </select>

    <select id="selectFileAuthStudent" parameterType="map" resultType="string">
        /* FileMapper.selectFileAuthStudent */
        SELECT gm.stdt_id
        FROM group_info gi
                 INNER JOIN user u ON gi.host_user_no = u.user_no
                 INNER JOIN group_member gm ON gi.group_id = gm.group_id
        WHERE u.tc_id = #{creator}
          AND gm.stdt_id = #{reader}
    </select>
</mapper>
